{deps, [
    {'jiffy', "", {git, "git://github.com/davisp/jiffy.git", {tag, "a13b9e1ec9"}}}
]}.

{erl_opts, [debug_info, warnings_as_errors]}.

{pre_hooks, [
    {clean, "cmake -E remove_directory _build/cmake"},
    {clean, "cmake -E remove_directory priv"},
    {compile, "cmake -E make_directory _build/cmake"},
    {compile, "cmake -E make_directory priv"},
    {compile, "cmake -E chdir _build/cmake"
              " cmake -E env --unset=LDFLAGS --unset=CXXFLAGS --unset=CFLAGS"
              " cmake ../../c_src/"
              " -DCMAKE_BUILD_TYPE=Release"
              " -DCMAKE_INSTALL_PREFIX=../../priv/"},
    {compile, "cmake --build _build/cmake --target cberl"},
    {compile, "cmake --build _build/cmake --target install"}
]}.
